html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
    height: 100%; /* Asegúrate de que el body ocupe 100% de la altura */
}

.container-flex { 
    display: flex;  
    flex-direction: column; /* Distribución en columna para el contenedor principal */
    min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos toda la altura de la ventana */
}

.header, main, footer {
    padding: 20px;
}

.container {
    margin: 0;
    padding: 60px 10px;
    flex-grow: 1; /* Permite que el contenedor principal crezca y empuje el footer hacia abajo */
}

.navbar {
    width: 100%;
    position: fixed; 
    background-color: #ff00a2;
    color: aliceblue;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
}

.navbar-logo {
    display: flex;
    align-items: center;             
    margin: 0;
}

.navbar-logo img {
    margin-right: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 25px;
    align-items: center;             
}




/* styles/styles.css */
body {
    background-color: #f8f9fa; /* Color de fondo para la página */
}

.container-servicios {
    padding: 20px 100px; /* Espaciado alrededor del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    max-width: 1200px; /* Establece un ancho máximo para el contenedor */
    margin-top: 60px;
}

h1 {
    text-align: center; /* Centrar el título de la sección */
    color: #ff00a2; /* Color del título */
    margin-bottom: 40px; /* Margen inferior para separar del contenido */
}

.card {
    border: 1px solid #ddd; /* Borde alrededor de la tarjeta */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para las tarjetas */
    transition: transform 0.2s; /* Efecto de transformación al pasar el mouse */
}

.card-img-top {
    border-top-left-radius: 12px; /* Bordes redondeados en la parte superior */
    border-top-right-radius: 12px;
}

.card-body {
    text-align: left; /* Alinear el texto a la izquierda */
}

.card-title {
    font-size: 1.25rem; /* Tamaño de fuente para el título de la tarjeta */
    font-weight: bold; /* Negrita para el título */
}

.card-text {
    margin-bottom: 15px; /* Margen inferior para la descripción */
}

.footer {
    background-color: black; /* Color de fondo del footer */
    color: white; /* Color del texto en el footer */
    text-align: center; /* Centrar el texto del footer */
    padding: 20px; /* Espaciado interno */
    position: relative; /* Mantiene el footer donde debería ir */
    margin-top: auto; /* Asegura que el footer esté al final del contenedor */
}





.footer {
    background-color: black;
    padding: 40px 0; /* Padding del footer */
    color: white;
    text-align: center;
    margin-top: auto
}